torch == 1.6.0
torchvision == 0.7.0
numpy == 1.22.3
craft-text-detector == 0.4.2
matplotlib == 3.6.1
easyocr == 1.6.2
pytesseract == 0.3.10
segmentation-models-pytorch == 0.3.0
keras-ocr == 0.9.1
tensorflow == 2.10.0
dlib == 19.24.0
pyside2 == 5.15.2.1
scikit-learn == 1.1.2
